<!DOCTYPE html>
<html lang="en">

<head>
  <title>myResources</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.scss" type="text/css" />
  <link rel="stylesheet" href="../public/styles/categories.css" type= "text.css"/>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/helperFunctions.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</head>

<body>
  <!-- Modal Signup -->
  <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog form-dark" role="document">
      <!--Content-->
      <div class="modal-content card card-image"
        style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
          <!--Header-->
          <div class="modal-header text-center pb-4">
            <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>SIGN</strong> <a
                class="green-text font-weight-bold"><strong> UP</strong></a></h3>
            <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <form id="signUp" class="modal-body">
            <!--Body-->
            <div class="md-form mb-5">
              <input name="email" type="email" id="Form-email5" class="form-control validate white-text">
              <label data-error="wrong" data-success="right" for="Form-email5">Your email</label>
            </div>
            <div class="md-form pb-3">
              <input name="password" type="password" id="Form-pass5" class="form-control validate white-text">
              <label data-error="wrong" data-success="right" for="Form-pass5">Your password</label>
              <div class="form-group mt-4">
                <input class="form-check-input" type="checkbox" id="checkbox624">
                <label for="checkbox624" class="white-text form-check-label">Accept the<a href="#"
                    class="green-text font-weight-bold">
                    Terms and Conditions</a></label>
              </div>
            </div>
            <!--Grid row-->
            <div class="row d-flex align-items-center mb-4">
              <!--Grid column-->
              <div class="text-center mb-3 col-md-12">
                <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Sign up</button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-12">
                <p class="font-small white-text d-flex justify-content-end">Have an account? <a href="#"
                    class="green-text ml-1 font-weight-bold">
                    Log in</a></p>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
          <!-- Modal -->

        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Modal -->

  <div class="modal fade" id="darkModalForm-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog form-dark" role="document">
      <!--Content-->
      <div class="modal-content card card-image"
        style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
          <!--Header-->
          <div class="modal-header text-center pb-4">
            <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel-login"><strong>LOG</strong> <a
                class="green-text font-weight-bold"><strong> IN</strong></a></h3>
            <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <form id="login" class="modal-body">
            <!--Body-->
            <div class="md-form mb-5">
              <input name="email" type="email" id="Form-email5-login" class="form-control validate white-text">
              <label data-error="wrong" data-success="right" for="Form-email5">Your email</label>
            </div>
            <div class="md-form pb-3">
              <input name="password" type="password" id="Form-pass5-login" class="form-control validate white-text">
              <label data-error="wrong" data-success="right" for="Form-pass5">Your password</label>
              <div class="form-group mt-4">
                <input class="form-check-input" type="checkbox" id="checkbox624-login">
                <label for="checkbox624" class="white-text form-check-label">Accept the<a href="#"
                    class="green-text font-weight-bold">
                    Terms and Conditions</a></label>
              </div>
            </div>
            <!--Grid row-->
            <div class="row d-flex align-items-center mb-4">
              <!--Grid column-->
              <div class="text-center mb-3 col-md-12">
                <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Log In</button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-12">
                <p class="font-small white-text d-flex justify-content-end">Have an account? <a href="#"
                    class="green-text ml-1 font-weight-bold">
                    Log in</a></p>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
          <!-- Modal -->

        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <div class="topnav">
    <a class="home" href="/">
      <img class="logo" src="./img/logo.png" alt="logo">
    </a>
    <!-- Search form -->
    <input id="myInput" class="search" type="text" onkeyup="searchResources()" placeholder="Search" name="q">
    <% if (userId) { %>
    <a id="modalBtn" href="/api/users/logout" class="btn btn-default btn-rounded" data-userid="<%= userId %>">Logout</a>
    <% }else{ %>
    <a id="modalBtn-login" href="" class="btn btn-default btn-rounded" data-toggle="modal"
      data-target="#darkModalForm-login">Login</a>
    <a id="modalBtn" href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#darkModalForm">Sign
      Up</a>
    <% } %>
    <a class="user" href="/myResources">
      <img class="user" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="user">
    </a>
  </div>

  <section id="create-post">
    <form action="/api/resources/new" method="POST">
      <h1>Create a Resource</h1>
      <div>
        <input type="text" name="title" maxlength="20" class="title" placeholder="Enter a title..">
      </div>
      <div>
        <textarea name="description" class="description" placeholder="  Write a description.." maxlength="140"></textarea>
      </div>
      <label for="topic">Choose a Topic:</label>
      <select class="topic" name="topic", >
        <option value="Math">Math</option>
        <option value="Physics">Physics</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Software">Software</option>
      </select>
      <div>
        <input type="url" name="url" class="url" placeholder="Enter a Resource URL..">
      </div>
      <div>
        <input type="url" name="image_url" class="image_url" placeholder="Enter Cover Photo URL..">
      </div>
      <input type="submit" class="button-create" alt="Submit" width="100">
    </form>
  </section>

  <div>
    <section id="image-buttons">
      <button class="btn" onclick="filterSelection('math')"> Math</button>
      <button class="btn" onclick="filterSelection('software')"> Software</button>
      <button class="btn" onclick="filterSelection('physics')"> Physics</button>
      <button class="btn" onclick="filterSelection('chemistry')"> Chemistry</button>
    </section>

  </div>

  <div class="masonry-wrapper">
    <div class="masonry">
      <%for (let i = 0; i < data.length; i++) {%>
      <div class="masonry-item">
        <div class="masonry-content" data-toggle="modal"
        data-target="#resourcemodal">
          <img src="<%=data[i].image_url%>" alt="Resource Topic">
          <a href="<%=data[i].url%>" target="_blank">
          <h3 class="masonry-title"><%=data[i].title%></h3>
          </a>
          <h6><%=data[i].topic%></h6>
          <p class="masonry-description"><%=data[i].description%></p>
        </div>
      </div>
      <%}%>
  </div>
  <div class="masonry-footer">
    <p>Created with &#10084; with <a href="//w3bits.com/tools/masonry-generator/" target="_blank" rel="external noopener nofollow">CSS Masonry Generator</a></p>
  </div>
  </div>

</body>

</html>
